header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #4CAF50;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

header ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: inherit;
}

header ul li a:hover {
  color: #4CAF50;
}
