header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #4CAF50;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

header ul li {
    font-size: 1.2rem;
    cursor: pointer;
}

header ul li:hover {
    color: #4CAF50;
}
