* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
    text-align: center;
}

#container {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#container li:last-child {
    border-bottom: none;
}

#container li:hover {
    background-color: #f9f9f9;
}
section input {
    padding: 10px;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

section button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section button:hover {
    background-color: #45a049;
}

section h1{
    color: #45a049;
}


@media (max-width: 600px) {
    header ul {
        flex-direction: column;
        gap: 10px;
    }

    #container {
        max-width: 90%;
    }
}
